<div class="container" ng-controller="mainController">
    <h1>Cadastro de Funcionário</h1>
    <form name="funcionarioForm" ng-submit="salvarFuncionario()">
        <label for="nome">Nome do Funcionário:</label>
        <input type="text" id="nome" ng-model="funcionario.nome" required minlength="2">

        <label for="cargo">Cargo do Funcionário:</label>
        <autocomplete items="cargos" id="cargo" model="funcionario.cargo"></autocomplete>

        <div ng-if="funcionario.cargo && funcionario.cargo.nivel > 1">
            <label for="lideranca">Liderança:</label>
            <autocomplete items="liderancas" id="lideranca" model="funcionario.lideranca"></autocomplete>
        </div>

        <senha-meter senha="funcionario.senha"></senha-meter>

        <button type="submit">Salvar</button>
    </form>
</div>